html{
    // overflow: scroll;
    overflow-x: hidden;
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

body{
    margin: 0;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    color: #f5f5f5;
    min-width: 320px;
    overflow: hidden;
    a{
        text-decoration: none;
    }
}

input{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

ul{
    margin: 0;
    padding: 0;
    li{
        text-decoration: none;
        list-style: none;
    }
}