@media (max-width: 768px) {
    html{
        overflow: scroll;
    }
}

@media (min-width: 426px) {

    // HEADER
    header{
        background-image: url('../img/shark-bg.jpeg');
    }
}

@media (max-width: 1025px) {

    // ABOUT
    .content__info{
        max-width: 500px;
    }
}

@media (max-width: 940px) {

    // HEADER
    .header__title{
        font-size: 72px;
    }
    
    .subtitle-roll{
        font-size: 12px;
    }

    // ABOUT 
    .content__info{
        font-size: 14px;
    }

    .content__subtitle-num{
        font-size: 14px;
    }

    .content__subtitle-text{
        font-size: 14px;
    }
}

@media (max-width: 825px) {

    .block__back{
        span{
            color: rgba($white, 0.05);
            font-size: 100px;
        }
    }
    
    // HEADER
    .menu{
        display: none;
    }
    .hamburger__menu{
        opacity: 1;
    }

    // ABOUT
    .content__info{
        max-width: 400px;
    }

    .content__subtitle-block{
        max-width: 300px;
    }
}

@media (max-width: 770px) {

    // HEADER
    .subtitle-roll{
        display: none;
    }

    .header__title{
        &-text{
            font-size: 54px;
            left: 0;
        }
    }

    .header__down{
        bottom: 100px;
    }

    .header__nav{
        top: 0;
    }

    .social {
        align-items: center;
    }

    .social-links a{
        padding-right: 0;

        &:nth-child(2) {
            padding: 0 20px;
        }
    }

    .arrow{
        display: none;
    }

    .header__down{
        display: flex;
        justify-content: center;
    }

    // ABOUT
    .circle__block{
        display: none;
    }

    .content__boxing{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .content__info{
        max-width: 600px;
        padding-bottom: 25px;
    }

    .content__subtitle{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .content__subtitle-block{
        max-width: 400px;
    }

    .content__subtitle-num{
        margin: 15px 0;
        margin-right: 15px;
    }

    .about__content{
        top: 50%;
    }

    .content__title{
        margin-bottom: 25px;
    }

  
    
}

@media (max-width: 475px) {

    // HEADER
    .header__title{
        line-height: 54px;
    }

}

@media (max-width: 426px) {

    // HEADER
    .logo{
        img{
            width: 100px;
        }
    }
    header {
        background-image: url('../img/mobile-shark.jpg');
    }
}