@import "global";
@import "vars";
@import "libs";
@import "fonts";

/* BASIC */
.container {
    max-width: 1350px; 
    margin: 0 auto;
}

/* HEADER */

// header bg
.header {
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}



// hamburger btn
.hamburger__menu {
    width: 20px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    align-items: flex-end;

    div {
        height: 2px;
        background: $white;
        transition: .5s ease;

        &:nth-child(1) {
            width: 17px;
        }
        &:nth-child(2) {
            width: 20px;
        }
        &:nth-child(3) {
            width: 14px;
        }
    }
}

.hamburger__menu:hover {

    div{
        &:nth-child(1) {
            width: 20px;
        }
        &:nth-child(2) {
            width: 20px;
        }
        &:nth-child(3) {
            width: 20px;
        }
    }
}

// Navigation
.top-nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// menu
.menu {
    margin-right: 116px;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    

    &-item{
        font-size: 14px;
        line-height: 20px;
        padding-right: 36px;
        display: inline-block;
        overflow: hidden;
    }

    li:last-child{
        padding-right: 0;
    }

    &-link{
        color: #f5f5f5;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
    }
}

// Header Content
.header__content{
    max-width: 960px;
    margin: 0 auto;
    margin-top: 120px;
}

.header__title{
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 120px;
    text-transform: uppercase;
    padding-bottom: 80px;
}

.header__title-fst {
    position: relative;
}
.header__title-snd{
    padding-left: 140px;
    position: relative;
}

.header__title-fst::after{
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    margin-left: 20px;
    background-color: $white;
    top: 50%;
}

.header__title-snd::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: $white;
    top: 50%;
    left: 0;
}

// Subtitle Roll
.header__subtitle{
    font-size: 16px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    color: #f5f5f5;
    opacity: 1;
    overflow: hidden;
}

.subtitle-roll{
    animation: subtitle-roll 8s linear infinite;
}

// Down Content
.header__down{
    position: absolute;
    width: 1350px; 
    margin: 0 auto;
    bottom: 50px;
    overflow: hidden;
}

// Arrow
.arrow{
    position: relative;
    width: 2px;
    height: 50px;
    background-color: $white;
    left: 50%;
    top: 0;
    animation: arrow-down 2s linear infinite;
}

// Socail Links
.social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-links{
    position: relative;
    display: flex;
    justify-content: space-between;
    right: 0;
    height: 14px;
    overflow: hidden;
    a {
        font-size: 12px;  
        line-height: 14px;  
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 36px;
        color: $white;
    }
}

.about{
    height: 100vh;
}

@import "animation";
@import "media";
