@import "global";
@import "vars";
@import "libs";
@import "fonts";

/* BASIC */
.container {
    max-width: 1350px; 
    margin: 0 auto;
}

/* HEADER */ 

// hamburger btn
.hamburger__menu {
    width: 20px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    align-items: flex-end;

    div {
        height: 2px;
        background: $black;
        transition: .5s ease;

        &:nth-child(1) {
            width: 17px;
        }
        &:nth-child(2) {
            width: 20px;
        }
        &:nth-child(3) {
            width: 14px;
        }
    }
}

.hamburger__menu:hover {

    div{
        &:nth-child(1) {
            width: 20px;
        }
        &:nth-child(2) {
            width: 20px;
        }
        &:nth-child(3) {
            width: 20px;
        }
    }
}

// .logo img{
//     // width: 20px;
// }

// Navigation
.top-nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// menu
.menu {
    margin-right: 116px;
}

.menu__list{
    display: flex;
    justify-content: space-between;
    

    &-item{
        font-size: 14px;
        line-height: 20px;
        padding-right: 36px;
        display: inline-block;
        overflow: hidden;
    }

    li:last-child{
        padding-right: 0;
    }

    &-link{
        color: $black;
        text-transform: uppercase;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: 700;
    }
}


@import "animation";
@import "media";
